body{
    font-family: Arial, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.banner{
    height: 150px;
    border: 2px solid black;
    color: black;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}

.banner h1{
    font-size: 2.5em;
    color: brown;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }

.login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
  }
  
  .lock-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lock-image img {
    max-width: 100%;
    height: auto;
  }
  
  .login-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-form input,
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .login-form button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  

.footer{
    color: #ffffff;
    background-color: #4a86e8;
    padding: 20px;
    text-align: center;
    position:fixed;
    bottom: 2%;
    width: 80%;
}





